{% extends "_layouts/site" %}

{% block content %}
    {% set login = craft.entries.section('login').one()  %}
        <div class="container mt-4 mt-md-3 mb-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-8">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-flex align-items-center d-none d-md-block pt-5 ps-5">
                                {% set loginThumbnail = login.loginImage.one() %}
                                <img src="{{ loginThumbnail.url()}}"
                                     alt="login form" class="img-fluid " style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form method="post" accept-charset="UTF-8" >
                                        {{ getCsrfInput() }}
                                        <input type="hidden" name="action" value="users/login">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">{{ login.title }}</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{{ login.loginDescription }}</h5>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="loginName">{{ "Email address or Username" |t }}</label>
                                            <input type="text" id="loginName" name="loginName" class="form-control form-control-lg" value="{{ craft.session.rememberedUsername }}" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="password">Password</label>
                                            <input type="password" id="password" name="password" class="form-control form-control-lg" />
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit" value="Login" >Login</button>
                                        </div>

                                        {% if errorMessage is defined %}
                                            <p class="text-danger">{{ errorMessage }}</p>
                                        {% endif %}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
