{% extends "_layouts/site" %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="home-tab">
            <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded bg-primary">
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <h3 class="text-white upgrade-info mb-0">
                                                    {{ entry.welcomeTitle }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column mt-3">
                            <div class="row">
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h5 class="card-subtitle card-subtitle-dash">{{ entry.homeInfo }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center ">
                        {% for infoGridBlock in entry.infoGrid%}
                            {% set thumbnail = infoGridBlock.cardThumbnail.one() %}
                            {% set cropSettings = {
                                mode: 'crop',
                                width: '50%',
                                height: '30%',
                                quality: 80
                            } %}

                            <div class="col-lg-3 mt-3">
                                <section class=" card card-rounded justify-content-around text-dark ">
                                    <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
                                        <div class="card-body">
                                            <a href="{{ infoGridBlock.cardLink }}"><img class="card-img-top rounded-2 img-fluid " src="{{ thumbnail.getUrl(cropSettings) }}" alt="Card image cap"></a>
                                            <h5 class="card-title">{{ infoGridBlock.cardTitle}} </h5>
                                            <a href="{{ infoGridBlock.cardLink }}" class="btn btn-primary p-3 ">{{ infoGridBlock.buttonLinkText }}</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
