{% extends "_layouts/site" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="home-tab">
            <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded table-darkBGImg">
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <h3 class="text-white upgrade-info mb-0">
                                                    {{ entry.welcomeTitle }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h5 class="card-subtitle card-subtitle-dash">{{ entry.homeInfo }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% set canvasImage =  entry.canvasImage.one() %}
                                <div class="col-6">
                                    <section class="school-features card card-rounded justify-content-around text-dark ">
                                            <div class="feature card-body text-center">
                                                <img src=" {{ canvasImage.url }}" alt="Image placeholder" class="">
                                                <h3 class="pt-1">{{ entry.canvasTitle }}</h3>
                                                <p>{{ entry.canvasInfo }}</p>
                                            </div>
                                    </section>
                                </div>
                                {% set reportProblemImage =  entry.reportProblemImage.one() %}
                                <div class="col-6">
                                    <section class="school-features card card-rounded justify-content-around text-dark ">
                                        <div class="feature card-body text-center">
                                            <a href="#">
                                                <img src=" {{ reportProblemImage.url }}" alt="Image placeholder" class="">
                                                <h3 class="pt-1">{{ entry.reportProblemTitle }}</h3>
                                            </a>
                                            <p>{{ entry.reportProblemInfo }} </p>

                                        </div>
                                    </section>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
