{% extends "_layouts/site" %}

{% block content  %}

    {% set location = craft.entries.section('locations').level(2) %}

    <div class="row">
        <div class="col-lg-12 d-flex flex-column mt-4">
            <div class="row">

                <div class="col-lg-5">
                    <section class=" card card-rounded justify-content-around text-dark ">
                        <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
                            <img class="card-img-top rounded-2" src="" alt="Card image cap">
                        </div>
                    </section>
                </div>
                <div class="col-lg-7 " >
                    <section class=" card card-rounded justify-content-around text-dark ">
                        <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
                            <div class="card-body">
                                <h5 class="card-title">{{ entry.title }}</h5>
                                <p>{{ entry.detailText }}</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

{#    {% for category in entry.categorytitle %}#}

{#    <div id="accordion" class="mt-2">#}
{#        <div class="card">#}
{#            <div class="card-header" id="headingOne">#}
{#                <h5 class="mb-0 d-inline">#}
{#                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{ category.categoryName }}" aria-expanded="true" aria-controls="{{ category.categoryName }}">#}
{#                        {{ category.categoryName }}>#}
{#                    </button>#}
{#                </h5>#}
{#            </div>#}
{#            <div id="{{ category.categoryName }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">#}
{#                <div class="card-body" id="child1">#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            <a href="#" data-toggle="collapse" data-target="#collapseOneA">Child A</a>#}
{#                        </div>#}
{#                        <div class="card-body collapse" data-parent="#child1" id="collapseOneA">#}
{#                            Crunch wolf moon tempor, sunt aliqua put a bird.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            <a href="#" data-toggle="collapse" data-target="#collapseOneB">Child B</a>#}
{#                        </div>#}
{#                        <div class="card-body collapse" data-parent="#child1" id="collapseOneB">#}
{#                            Another flipp runch wolf moon tempor, sunt aliqua put a bird.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}


    <section class="site-hero overlay" >
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 element-animate">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                {% for machine in machines %}
                                    {{ dump(machine) }}
                                    <h1 class="mb-0">{{ machine.title }}</h1>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
