{% extends "_layouts/site" %}

{% block content %}
        {% set locationsOverview = craft.entries.section('locations') %}

        <div class="container mt-4 mt-md-0">
            <div class="row justify-content-center mb-5">
                <div class=" text-center">
                    <h2>{{ locationsOverview.locationsOverviewTitle }} </h2>
                    <p class="lead">{{ locationsOverview.locationsOverviewDescription ? locationsOverview.locationsOverviewDescription : ''}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex flex-column d-flex align-content-center">
                    <div class="row d-flex align-content-center">
                        {% set locations = craft.entries.section('locations')  %}
                        {% for location in locations %}
                            {% set thumbnail = location.locationImage.one() %}

                            <div class="col-lg-3 mt-3">
                                <section class=" card h-100 card-rounded justify-content-around text-dark ">
                                    <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
                                        <img class="card-img-top rounded-3" src="{{ (thumbnail) ? (thumbnail.getUrl()) : 'https://via.placeholder.com/200' }}" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ location.title }}</h3>
                                            <h6 class="card-subtitle">Today’s Opening Hours</h6>
                                            {% set today = location.openingHours.today %}
                                            {% if today.isBlank %}
                                                <p>Sorry, we’re closed today.</p>
                                                {% set tomorrow = locations.openingHours.tomorrow %}
                                                {% if not tomorrow.isBlank %}
                                                    <p>We’ll be back open tomorrow at {{ tomorrow.open|time }}.</p>
                                                {% endif %}
                                            {% else %}
                                                <p>We’re open from {{ today.open|time }} to {{ today.close|time }} today.</p>
                                            {% endif %}
                                            <a href="{{ location.url }}" class="btn btn-primary">Learn more</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
