{% extends "_layouts/site" %}

{% block content %}
    {# Require that a user is logged in to view this form. #}
    {% requireLogin %}

    {% macro errorList(errors) %}
        {% if errors %}
            {{ ul(errors, {class: 'errors'}) }}
        {% endif %}
    {% endmacro %}

    {# `user` is defined if the form returns validation errors. #}
    {% set user = user ?? null %}

    {% set register = craft.entries.section('register').one()  %}
    <div class="container mt-4 mt-md-3 mb-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-flex align-items-center d-none d-md-block pt-5">
                            {% set registerThumbnail = register.registerImage.one() %}
                            <img src="{{ registerThumbnail.url()}}"
                                 alt="register form" class="img-fluid " style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form method="post" accept-charset="UTF-8" >
                                    {{ csrfInput() }}
                                    {{ actionInput('users/save-user') }}
                                    {{ redirectInput('') }}

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">{{ register.title }}</span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Username</label>
                                        {{ input('text', 'username', user.username ?? null, {
                                            id: 'username',
                                            autocomplete: 'username',
                                            class:"form-control form-control-lg "
                                        }) }}
                                        <p class="text-danger"> </p>{{ user ? _self.errorList(user.getErrors('username')) }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="firstName">First Name</label>
                                        {{ input('text', 'firstName', user.firstName ?? null, {
                                            id: 'firstName',
                                            autocomplete: 'given-name',
                                            class:"form-control form-control-lg "
                                        }) }}
                                        {{ user ? _self.errorList(user.getErrors('firstName')) }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        {{ input('text', 'lastName', user.lastName ?? null, {
                                            id: 'lastName',
                                            autocomplete: 'family-name',
                                            class:"form-control form-control-lg "
                                        }) }}
                                        {{ user ? _self.errorList(user.getErrors('lastName')) }}
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="email">Email</label>
                                        {{ input('email', 'email', user.email ?? null, {
                                            id: 'email',
                                            autocomplete: 'email',
                                            class:"form-control form-control-lg "
                                        }) }}
                                        {{ user ? _self.errorList(user.getErrors('email')) }}
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="password">Password</label>
                                        {{ input('password', 'password', null, {
                                            id: 'password',
                                            class:"form-control form-control-lg"
                                        }) }}
                                        {{ user ? _self.errorList(user.getErrors('password')) }}
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit" value="Login" >Login</button>
                                    </div>

                                    {% if errorMessage is defined %}
                                        <p>{{ errorMessage }}</p>
                                    {% endif %}




{#                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{{ register.registerDescription }}</h5>#}

{#                                    <div class="form-outline mb-4">#}
{#                                        <label class="form-label" for="registerName">{{ "Email address or Username" |t }}</label>#}
{#                                        <input type="text" id="registerName" name="registerName" class="orm-control form-control-lg orm-control form-control-lg-lg" value="{{ craft.session.rememberedUsername }}" />#}
{#                                    </div>#}

{#                                    <div class="form-outline mb-4">#}
{#                                        <label class="form-label" for="password">Password</label>#}
{#                                        <input type="password" id="password" name="password" class="orm-control form-control-lg orm-control form-control-lg-lg" />#}
{#                                    </div>#}



{#                                    {% if errorMessage is defined %}#}
{#                                        <p class="text-danger">{{ errorMessage }}</p>#}
{#                                    {% endif %}#}

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

