{% extends "_layouts/site" %}


{% block content  %}

{% set post = false %}
    {% set machines = craft.entries.section('machines') %}
    {% set thumbnail = entry.machineImage.one() %}
    <div class="container">
        <div class="card flex-row roww p-0 gx-4 gx-lg-5 align-items-center mb-4">
            <div class="col-lg-7"><img class="img-fluid rounded mb-lg-0" src="{{ thumbnail.getUrl() }}" alt="machineImage"></div>
            <div class="col-lg-5 px-4 py-3 ">
                <h3 class="font-weight-light">{{ entry.title }}</h3>
                <p>{{ entry.description }}</p>
                <a href="/reportproblem" class=" p-3 btn btn-outline-warning mt-3">
                    Something wrong with the machine ? Report a problem here!
                </a>

                {% if currentUser %}
                    <a data-toggle="modal" data-target="#form" class="p-3 btn btn-outline-primary mt-3">
                        Create QR code
                    </a>
                    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-bottom-0">
                                    <h5 class="modal-title" id="exampleModalLabel">QR code</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="printThis" class="form-group text-center">
                                        <img src="https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl={{craft.request.url}}" class="img-fluid" alt="QR code">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a id="btnPrint" type="button" class="p-3 btn btn-outline-primary mt-3">Print</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if(entry.safetyType) %}
            {% set safetyType = entry.safetyType %}
            {%for safety in safetyType %}
                <div class="card my-3 text-white text-center bg-warning">
                    <div class="card-body ">
                        <h4>
                            {{ entry.safetyBannerContent}}
                        </h4>
                        <a href="{{ safety.url }}" class="btn btn-outline-info p-2 ">READ HERE!</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# Instructions section #}
        <div class="card card-rounded bg-primary mt-4 mb-2">
            <div class="card-body">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white upgrade-info mb-0">{{ entry.instructionsTitle}}</h2>
                </div>
            </div>
        </div>

        <div id="accordion">
            <div class="card">
                {% for instruction in entry.instructions%}
                    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
                    {% set randomCharacter = random(alpha) ~ random(alpha) ~ random(alpha) %}

                    <div class="card-header d-flex justify-content-between align-items-center" >
                        <h4 class="mb-0 btn text-primary text-decoration-underline font-weight-bold"
                            data-toggle="collapse"
                            data-target="#{{ instruction.instructionTitle | split(' ')[0] }}{{ randomCharacter }}"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                            {{ instruction.instructionTitle }}
                        </h4>
                        <i class="mdi mdi-arrow-down-drop-circle-outline mb-0 btn text-primary dropdown-font"
                           data-toggle="collapse"
                           data-target="#{{ instruction.instructionTitle | split(' ')[0] }}{{ randomCharacter }}"
                           aria-expanded="true"
                           aria-controls="collapseOne"></i>
                    </div>
                    <div id="{{ instruction.instructionTitle | split(' ')[0]}}{{ randomCharacter }}" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{ instruction.instructionDescription }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
